default = 'mysql'

; more config see https://medoo.in/api/new
[mysql]
;  required
database_type  = ''
database_name  = ''
server         = ''
username       = ''
password       = ''

;// [optional]
charset        = ''
collation      = ''
port           = ''

;// Table prefix
prefix = ''

; Medoo will execute those commands after connected to the database for initialization
;command[] = SET SQL_MODE=ANSI_QUOTES

[mongo]


[redis]