default = 'mysql'

; more config see https://medoo.in/api/new
[mysql]
;  required
database_type  = 'mysql'
database_name  = 'ys'
server         = '111.231.100.181'
username       = 'ihuanglele'
password       = 'Txwz2018!'

;// [optional]
charset        = 'utf8mb4'
collation      = 'utf8mb4_general_ci'
port           = '3306'

;// [optional] Table prefix
prefix         = ''

[mongo]
charset = ""
host = ""
db = ""
username = ""
password = ""
port = ""

; redis 配置
redis.host = ok
redis.port = 12306